__pycache__/
.env
*.pyc
*.json
*.pem
data/
artifacts/
uploads/
icons/
optimized_association_photos/
documents/
association_photos/
poppler-24.08.0/
hospital_staff.db/
hospital-staff-application/
client-cert.pem
test_gcp.py/
test.ipynb/
working_file.ipynb
.ipynb_checkpoints
mrb-key.pem